# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=username
DB_PASSWORD=password
DB_DATABASE=database_name
DB_SCHEMA=public

# API Keys and Secrets
API_SECRET_KEY=your_api_secret_key
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
SPOTIFY_REDIRECT_URI=http://localhost:3000/api/auth/spotify/callback

# TMDb Configuration
TMDB_KEY=your_tmdb_key
TMDB_REDIRECT_URI=http://localhost:3000/api/auth/tmdb/callback

# Recommendation System API
RECSYS_API_URL=http://localhost:8000

# Prisma Database URL
DATABASE_URL=postgresql://username:password@localhost:5432/database_name
